# Build directory
build/
build_*/

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# ESP-IDF specific
sdkconfig
sdkconfig.old
dependencies.lock

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Firmware binary files
*.bin
*.uf2

# Project specific
managed_components/